.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #FF136F;
}
.buy{
    background-image: linear-gradient(to bottom,#FF5898 0%, #FF136F 100%);
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 15px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blueviolet;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.form{
    padding-top:10px
}
footer{
    text-align: center;
}